
html {
    scroll-behavior: smooth;
    transition-duration: 0.4s;
}

body{
    background-image: url(".idea/Images/flowers-882828_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.BigBG{
    background-color:maroon;
    border-radius: 20px;
    margin: 5%;
    padding-bottom: 10%;

}

#HomeContainer{
    font-family: 'DM Sans';
    background-color: white;
    padding: 3%;
    padding-bottom: 10%;

    border-radius: 20px;
}

#columns{
    display:grid;
    grid-template-columns:1fr 2fr;
}

#HomeHeader{
    text-align: center;
    font-family: 'DM Sans';
    font-size: xxx-large;
}

#HomeText{
    margin-left: 13%;
    margin-right: 13%;
}

#HeadShotContainer{
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 13%;
}

#headshot{
    object-fit: fill;
    width: 85%;
}

#AboutButton{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

/* About Button */

.HomeButton {
    padding: 15px 30px;
    margin-top: 15%;
    border: 2px solid maroon;
    background-color: maroon;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.HomeButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(238, 179, 177, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.HomeButton:hover::after {
    transform: scale(4);
}

.HomeButton:hover {
    border-color: darkred;
    background: darkred;
}

/* About section on home page */

#AboutContainer{
    background-color: maroon;
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'DM Sans';
    padding: 5%;
    margin:5%;
}

#AboutSchooling, #AboutExperience, #AboutGoal{
    font-size: large;
}

/* Nav Bar style */

#navbar{
    position: sticky;
    top: 0;
    background-color: white;
    color: maroon;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.2s;
}

#nav a:hover {
    background-color: rgba(238,22,38,0.25);
}

section {
    height: 100vh;
    padding: 30px;
}

.HomeNavButton, .AboutNavButton, .ContactButton, .PortfolioButton, .ResumeButton {
    padding: 15px 30px;
    border: 2px darkgray;
    background-color: white;
    color: maroon;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.HomeNavButton::after, .AboutNavButton::after, .ContactButton,::after .PortfolioButton::after, .ResumeButton::after {
    content: "";
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(237, 213, 213, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.HomeNavButton:hover::after, .AboutNavButton:hover::after, .ContactButton:hover::after, .PortfolioButton:hover::after, .ResumeButton:hover::after {
    transform: scale(4);
}

.HomeNavButton:hover, .AboutNavButton:hover, .ContactButton:hover, .PortfolioButton:hover, .ResumeButton:hover {
    border-color: rgba(117,7,0,0.78);
    background: rgba(117,7,0,0.50);
}


