
html {
    scroll-behavior: smooth;
}

body{
    background-image: url(".idea/Images/Red Tulip Flower HD Wallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#HomeContainer{
    font-family: 'DM Sans';
    background-color: white;
    padding: 3%;
    margin: 5%;
    border-radius: 20px;
}

#columns{
    display:grid;
    grid-template-columns:1fr 2fr;
}

#HomeHeader{
    text-align: center;
    font-family: 'DM Sans';
    font-size: xxx-large;
}

#HomeText{
    margin-left: 13%;
    margin-right: 13%;
}

#HeadShotContainer{
    margin-top: 20%;
    margin-bottom: 10%;
}

#headshot{
    object-fit: contain;
    width: 50%;
}

#AboutButton{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.HomeButton {
    padding: 15px 30px;
    border: 2px solid maroon;
    background-color: maroon;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.HomeButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(238, 179, 177, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.HomeButton:hover::after {
    transform: scale(4);
}

.HomeButton:hover {
    border-color: darkred;
    background: darkred;
}

#AboutContainer{
    background-color: maroon;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: 'DM Sans';
    padding: 5%;
    margin:5%;
}

#AboutSchooling, #AboutExperience, #AboutGoal{
    margin:10%;
    font-size: large;
}



