
body{
    background-color: cadetblue;
}

#HomeContainer{
    text-align: center;
    font-family: 'DM Sans';
    background-color: white;
    padding: 3%;
    margin: 5%;
    border-radius: 20px;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:2fr 1fr;
}
#HomeHeader{
    text-align: center;
    font-family: 'DM Sans';
    font-size: xxx-large;

}

#HomeText{
    margin-left: 13%;
    margin-right: 13%;
}

#HeadShotContainer{
    margin-top: 20%;
    margin-bottom: 10%;

}

#headshot{
    object-fit: contain;
    width: 50%;
}

#AboutButton{
    justify-content: center;
}

